<div class="center hero-unit">
  <h1>Welcome to the Petent Lookup App</h1>

  <h2>
    This is the Welcome page for the one <br>
    WHO want to re-organize patent lookup information
  </h2>

  <%= link_to "來去開始檢索 專利範圍吧 !! ", new_patent_path, class: "btn btn-large btn-primary" %>
</div>
