<div class="center hero-unit">
  <h1>Welcome to the Petent Lookup App</h1>

  <h2>
    This is the Welcome page for the one <br>
    WHO want to re-organize patent lookup information
  </h2>

  <%= link_to "來去開始檢索 專利範圍吧 !! ", new_patent_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to "中華民國專利資訊檢索系統", 'http://210.69.13.199/tipotwc/tipotwkm?0002A9C60001000100000000000000100000001E000000000', :target => "_blank" %>