<footer class="footer">
  <small>
    <a href="#">Patent Lookup Site </a>
    by Daniel Lin
<%= link_to "中華民國專利資訊檢索系統", 'http://210.69.13.199/tipotwc/tipotwkm?0002A9C60001000100000000000000100000001E000000000', :target => "_blank" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      
    </ul>
  </nav>
</footer>