<header>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">SAMPLE APP</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "申請號查詢頁面",    new_patent_path %></li>
              <li><%= link_to "去歷史查詢列表", patents_path %> </li>
              <li><%= link_to "Sign in", '#' %></li>
      </ul>
    </div>
  </div>
</nav>

</header>